body{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
}
#div_tabella{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}
.riga{
    width: 100%;
    height: 100%;
    display: flex;
}
.casella{
    width: 4em;
    height: 4em;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.evidenziato{
    background-color: aqua;
}